---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/mago_bg.jpg
bottom_image: images/mago_bg.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">SEEING BEYOND 360°</h1>
      <p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> will help you see your data in a different perspective</p>
			<div class="cta button alt"><a href="#end">Contact us</a></div>
		</div>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Who are we?</h2>
				<p class="editable"><b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> is a data consulting collective that aims to empower and enable organizations for social good</p>
			</div>
			<div class="image">
				<img class="editable" src="images/group_pic.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mission</h2>
				<p class="editable">A society free of social injustice.</p>
				<h2 class="editable">Vision</h2>
				<p class="editable">Transform society by providing data-driven capabilities for organizations working on social good.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/mission_vision.png" alt="Screenshot" />
			</div>
		</div>
	</section>

<!--
	<section class="info">
		<div class="container flex">
			<div>
				<h2 class="editable">Some of our work</h2>
				<p class="editable">Curious about what we can do? Check some of our personal projects.</p>
			</div>
			<div>
				<ul class="image-grid">
					{% for client in site.staff_members limit: 4 %}
						<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section> -->

	<section class="pad">
		<div class="container">
			<h2 style="	text-align: center; "> Meet the <b style = "color: DarkOrange">magô </b><b style = "color: Orange">analytics</b> team!</h2>
			<ul class="staff">
				{% for person in site.staff_members %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="name"><a target="_blank" href="https://github.com/{{ person.github_username }}"><b>{{ person.name }}</b></a></div>
						<div class="position">{{ person.position }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section id = "end" class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Let us help you with your visions for social good.</h2>
				<p class="subtext editable">Contact us at: <b>mago.analytics.mnl@gmail.com</b> </p>
			<!--	<div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
