.hero {
	color: black;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
}

	p {
		color: black;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		color: black;
		text-align: left;

		h1, h2, p,b, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		}

		h1, h2{
			font-size: 110px;
			font-weight:20px;
			font-family: 'Bebas Neue', cursive;
			color: orange;
		}

		.button{
			font-family: 'Bebas Neue', cursive;
			color: orange;
			font-size: 30px;
		}

		p,b{
			color: orange;
			font-size: 25px;
		}

	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 10px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 10%;
		}

		img {
			min-width: 50%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 120px;

	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}
