.staff {
  padding: 0 0 100px 0;	margin: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 20px 10px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 1%);
		}

	}

	img {
		width: 50%;
	}

	.name {
		margin-top: 20px;
	}

	.position {
		color: #666;
		font-size: .8em;
	}

	.square-image {
		width: 100px;
		background-position: center center;
    background-repeat: no-repeat;

		img {
			min-height: 50%;
			width: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-40%) translateY(-50%);
		}
	}
}
